.blue-bg{
    background-color: #2c3e50;
}

.green-bg{
    background-color: #1abc9c;
}

.lighter-blue-bg{
    background-color: #3a546d;
}

.white{
    color: white;
}

.blue{
    color: #2c3e50;
}

.green{
    color: #1abc9c;
}

.uppercase{
    text-transform: uppercase;
}

.capitalize{
    text-transform: capitalize;
}

.bold{
    font-weight: bold;
}

.middle{
    align-self: center;
}

.text-double{
    font-size: 1.5rem;
}

.bolder{
    font-weight: bolder;
}

.center{
    justify-content: center;
}

.line{
    width: 50px;
    border: 2px solid;
    background-color: white;
    height: 2px;
}

.flex{
    display: flex;
}

.card-img{
    width: 100%;
}

.message{
    height: 150px;
}

.send-button{
    background-color: #1abc9c;
    color: white;
}

.download-button{
    width: fit-content;
    border: 1px solid white;
    padding: 10px;
    border-radius: 10px;
    margin: auto;
}

.smaller-text{
    font-size: 0.8rem;
}

.avatar{
    max-width: 250px;
}

.fa-brands{
    padding: 15px;
    margin: 10px;
    border: 1px solid;
    border-radius: 50%;
}